html,
body {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    width: 0px;
}
body {
  width: 100%;
  font-family: 'Gotham Pro';
  font-size: 1vw;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.content {
  width: 90%;
  margin: 0 5%;
}
section {
  height: 100vh;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 2vmax;
  letter-spacing: 0.05em;
  line-height: 160%;
}

/* Верхушка */
header {
  background-image: /*url('../img/top_bg.jpg'),*/ url('../img/grid.png');
}
.content__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  height: 100vh;
  color: #fff;
}
#top {
  height: 100vh;
  width: 100%;
  /*background-color: rgba(0,0,0,0.3);
  background-image: /*url('../img/top_bg.jpg'),*/ url('../img/grid.png'); */
  background-blend-mode: darken;
  /* -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  width: 90%;
  top: 0;
  padding: 1em 5%;
  z-index: 9999;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 18%;
  font-size: 0.9em;
}
.logo img {
  width: 12%;
  margin-right: 3%;
}
.logo p {
  margin: 0;
  padding: 0.2em;
}
.logo__yellow {
  color: #FFE563;
}
.logo__noyellow {
  color: #fff;
  font-weight: 300;
}
.visuallyHidden {
  /* position: absolute; */
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0;
  width: 0;
  margin: -1px;
  padding: 0;
  border: 0;
}
.hamburger {
  width: 1.7em;
  height: 1.7em;
  margin-top: 0.2em;
  margin-left: 0;
  margin-right: auto;
  position: relative;
  transform: scale(0,0);
}
.hamburger .bar {
  padding: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 2%;
}

.bar2,
.bar3 {
  top: 48%;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1{
  transform: rotate(45deg);
  transform-origin: 6%;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: -5%;
  transform: rotate(-45deg);
}

.checkbox1:checked + label > .hamburger1 > .bar1{
  transform: rotate(45deg);
  transform-origin: 6%;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: -5%;
  transform: rotate(-45deg);
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 77%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  list-style: none;
}
.menu {
  color: #fff;
  -o-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: 0 0 0 auto;
  -o-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.find img {
  height: 1.5em;
  width: 1.5em;
}
.find input {
  width: 70%;
  margin: 0;
  padding: 0.5em;
  border: 0;
  border-radius: 150px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  color: #fff;
  outline: none;
}
.header__big {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.2em;
}
h1 span {
  color: #FFE563;
}
.header__big-block {
  display: flex;
  justify-content: space-between;
}
.header__big-title {
  margin: 0;
  padding: 0.5em 0;
  font-size: 2.2em;
  font-weight: 300;
}
.header__big-subtitle {
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em 0 1em 0;
}
.header__big-item {
  width: 45%;
  line-height: 170%;
}
.header__big ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 3em 0;
  list-style: none;
  font-weight: 300;
}
.header__small {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.header__small-text {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  line-height: 170%;
}
.header__small button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.9em;
  margin: 1.5em 0 3em 0;
  font-size: 0.8em;
  color: #000;
  background-color: #FFE563;
  border: 0;
  border-radius: 150px;
  outline: none;
}
.header__small img {
  /* height: 1em; */
  width: 7%;
  margin-right: 5%;
}
.header__small button p {
  padding: 0;
  margin: 0;
}

/* Артимончик */
#artamonov {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: stretch;
}
.artamonov__content {
  display: flex;
  align-items: flex-end;
  background-image: url('../img/artamonov_bg.png');
  -webkit-background-size: 80% 80%;
  background-size: 75% auto;
  background-position: 70% bottom;
  background-repeat: no-repeat;
}
.artamonov__photo {
  width: 32%;
  font-size: 0;
}
.artamonov__text {
  width: 60%;
}
.artamonov__text-subtitle {
  padding: 0.2em 0;
  margin: 1vh 0;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 180%;
}
.artamonov__text-item {
  padding: 0 0 3vh 0;
  margin: 0;
  font-size: 0.9em;
}

/* Карта */
#map {
  background-color: #23242D;
}
.map__content {
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
}
.map__block {
  position: relative;
  width: 55%;
}
.map__block p {
  margin: 0;
}
.map__block-top,
.map__block-bottom {
  position: absolute;
  width: 60%;
  padding-left: 1em;
  border-left: 5px solid #FEBC11;
}
.map__block-top {
  top: 8vh;
}
.map__block-bottom {
  bottom: 3vh;
}
.map__block-yellow {
  font-size: 1.5em;
  color: #FFCA63;
  line-height: 170%;
}
.map__block-text {
  font-size: 1em;
  color: #fff;
  line-height: 170%;
}
.map__info {
  width: 35%;
  padding-top: 5vh;
  color: #fff;
}
.map__info-city {
  padding-bottom: 2.9vh;
  font-size: 1.1em;
}
.map__info-road {
  padding-bottom: 0.3vh;
  font-size: 0.7em;
}
.yellow {
  color: #FFCA63;
}
.map__info ul {
  padding-left: 10%;
  list-style: none;
  background-image: url('../img/Arrow.png');
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  background-position: 5% top;
  background-repeat: no-repeat;
}
.map__info p {
  margin: 0;
  font-weight: 300;
}

/* Типа статистика */
.stat__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20vh;
}
#stat h2 {
  width: 65%;
}
.stat__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.stat__item {
  width: 17%;
}
.stat__item p {
  justify-content: center;
  margin: 0;
  line-height: 180%;
}
.stat__item img {
  width: 14%;
  margin-right: 10%;
}
.stat__item-text,
.fontan__item-text,
.face__item-text {
  font-size: 0.9em;
  font-weight: 300;
}
.stat__item-bold {
  font-size: 1.2em;
}
.stat__item-yellow,
.fontan__item-yellow {
  font-size: 2.5em;
  color: #FFCA63;
}
.stat__item-yellow {
  padding-top: 7vh;
}

/* Фонтанчик */
#fontan {
  background-image: url('../img/fontan.png'), url('../img/grid.png');
  background-blend-mode: darken;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#fontan h2 {
  width: 40%;
}
#fontan p {
  justify-content: center;
  margin: 0;
  line-height: 180%;
}
.fontan__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  padding-top: 13vh;
  color: #fff;
}
.fontan__item {
  width: 19%;
}
.fontan__item-subtitle {
  width: 40%;
  letter-spacing: 0.05em;
}
.fontan__info {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 8vh;
}
.fontan__info-item {
  width: 25%;
}
#fontan ul {
  width: 50%;
  padding: 0;
  list-style: none;
}
#fontan ul li {
  padding-top: 2vh;
}
#fontan ul img {
  width: 3%;
  margin-right: 3%;
}
.fontan__resident {
  width: 20%;
}
.fontan__resident-text {
  padding: 1em;
}
#fontan button {
  width: 100%;
  padding: 0.9em;
  margin: 1.5em 0 1em 0;
  color: #000;
  background-color: #FFE563;
  border: 0;
  border-radius: 150px;
  outline: none;
}

/* Блок с лицами */
#face p {
  margin: 0;
  letter-spacing: 0.03em;
}
#face h2 {
  width: 58%;
}
.face__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15vh;
}
.face__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15vh;
}
.face__item {
  width: 16%;
}
.face__block {
  width: 95%;
}
.face__item-yellow {
  font-size: 2em;
  color: #FFCA63;
  letter-spacing: 0.03em;
}
.face__item-text {
  font-size: 1em;
  padding: 0.5em 0 5vh 0;
  line-height: 170%;
}
.face__block {
  display: flex;
  justify-content: space-between;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.face__article {
  width: 20%;
}
.face__article-title {
  padding: 2vh 0;
  font-weight: bold;
}
.face__article-text {
  font-size: 0.9em;
}
#face button {
  width: 22%;
  padding: 0.9em;
  margin: 5vh 0 0 0;
  font-size: 0.9em;
  color: #000;
  background-color: #FFE563;
  border: 0;
  border-radius: 150px;
  outline: none;
}

/* Кластеры */
#cluster {
  color: #fff;
  background-image: url('../img/lip1.png'), url('../img/grid.png');
  background-blend-mode: darken;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cluster__content,
.video__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 15vh;
}
#cluster h2,
#video h2 {
  width: 46%;
}
#cluster p,
#video p {
  margin: 0;
}
.cluster__item,
.video__item {
  width: 25%;
  margin-left: 2%;
}
.cluster__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cluster__item-yellow {
  padding-right: 10%;
  font-size: 3em;
  color: #FFE563;
}
.cluster__item-text {
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.05em;
}
.cluster__subtitle {
  width: 90%;
  padding-top: 3vh;
  line-height: 170%;
  letter-spacing: 0.05em;
}
.cluster__article {
  width: 20%;
  margin: 10vh 4% 0 0;
}
.cluster__article-img {
  width: 50%;
  padding: 0 25%;
}
.cluster__article-text {
  padding-top: 1vh;
  text-align: center;
  line-height: 170%;
  letter-spacing: 0.05em;
  font-weight: 500;
}

/* Блок с видео */
#video {
  position: relative;
  color: #fff;
  background-image: url('../img/top_bg.jpg'), url('../img/grid.png');
  background-blend-mode: darken;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.video__item-yellow {
  padding-right: 10%;
  padding-bottom: 2vh;
  font-size: 3em;
  color: #FFE563;
}
.video__item-text {
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.05em;
}
.video__file-item {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#video source {
	height: 100vh;
	width: 100%
}

/* Нижний блок */
#bottom {
  background-image: url('../img/lip2.png'), url('../img/grid.png');
  background-blend-mode: darken;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom__content {
  display: flex;
  justify-content: space-between;
  padding-top: 14vh;
  color: #fff;
}
.bottom__form {
  width: 43%;
}
.bottom__form-text {
  font-size: 0.9em;
  line-height: 180%;
  letter-spacing: 0.1em;
}
.bottom__input,
#bottom textarea {
  margin: 1.5vh 0;
  background: #FFFFFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 5px;
}
.bottom__input {
  width: 93%;
  padding: 2%;
}
#bottom textarea {
  width: 93%;
  padding: 2%;
  resize: none;
}
.bottom__checkbox {
  margin: 0;
}
.checkbox__text {
  font-size: 0.8em;
  font-weight: 300;
}
.bottom__button {
  width: 60%;
  padding: 0.9em;
  margin: 1em 0 0 0;
  font-size: 0.9em;
  color: #000;
  background-color: #FFE563;
  border: 0;
  border-radius: 150px;
  outline: none;
}
.bottom__block {
  width: 40%;
}
.slick-vertical {
  margin-top: 6vh;
}
.slick-vertical__item {
  padding: 1.3vh 0;
  font-size: 1.2em;
  font-weight: 300;
}
.slick-prev,
.slick-next {
  -webkit-transform: translate(-50%, 0) rotate(90deg);
  -ms-transform: translate(-50%, 0) rotate(90deg);
  transform: translate(-50%, 0) rotate(90deg);
  left: 45%;
}
.slick-prev {
  top: -5vh;
}
.slick-next {
  top: auto;
  bottom: -5vh;
}
